/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
  html::-webkit-scrollbar {
    display: none;
  }

body {
  margin-bottom: 60px;
  min-height: 100%;
  max-width: 100%;
  background-color: #1e1e1e;
  color: white;
  overflow-x: hidden;
}

app-root {
  display: block;
  height: 100%;
}
