<div class="wrapper">

  <div class="header">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <div class="card" style="width: 18rem; cursor: pointer; background-color: #fff3 !important;" data-aos="fade-left" data-aos-delay="0">
        <div class="card-body">
          <h5 class="card-title">Clipy</h5>
          <p class="card-text">Simple clipboard to store copied data across all platform</p>
          <button class="learn-more button">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Take me there..</span>
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
