<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-light box-shadow py-3 px-5 mb-3">
    <a class="navbar-brand" data-aos="fade-left" data-aos-delay="0" asp-area="" [routerLink]="['/']">#Keshav Pratap Singh<div class="prefix">(Dev)</div></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <!--<li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
        </li>-->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link highlight" data-aos="fade-left" data-aos-delay="200" [routerLink]="['/projects']">Projects</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link highlight" data-aos="fade-left" data-aos-delay="300" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link highlight" data-aos="fade-left" data-aos-delay="300" [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="btn btn-outline-light" data-aos="fade-left" data-aos-delay="500" [routerLink]="['/resume']">Resume</a>
          </li>
        </ul>
        <!--<app-login-menu></app-login-menu>-->
      </div>
  </nav>

</header>
